services:
  festivo.webapp:
    image: festivo.webapp
    build:
      context: .
      dockerfile: Festivo.WebApp/Dockerfile
    ports:
      - "5100:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - festivo.apigateway

  festivo.apigateway:
    image: festivo.apigateway
    build:
      context: .
      dockerfile: Festivo.ApiGateway/Dockerfile
    ports:
      - "5101:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.ticketservice:
    image: festivo.ticketservice
    build:
      context: .
      dockerfile: Festivo.TicketService/Dockerfile
    ports:
      - "5102:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.accesscontrolservice:
    image: festivo.accesscontrolservice
    build:
      context: .
      dockerfile: Festivo.AccessControlService/Dockerfile
    ports:
      - "5103:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.scheduleservice:
    image: festivo.scheduleservice
    build:
      context: .
      dockerfile: Festivo.ScheduleService/Dockerfile
    ports:
      - "5104:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.crowdmonitorservice:
    image: festivo.crowdmonitorservice
    build:
      context: .
      dockerfile: Festivo.CrowdMonitorService/Dockerfile
    ports:
      - "5105:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.notificationservice:
    image: festivo.notificationservice
    build:
      context: .
      dockerfile: Festivo.NotificationService/Dockerfile
    ports:
      - "5106:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.orchestratorservice:
    image: festivo.orchestratorservice
    build:
      context: .
      dockerfile: Festivo.OrchestratorService/Dockerfile
    ports:
      - "5107:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.callbackservice:
    image: festivo.callbackservice
    build:
      context: .
      dockerfile: Festivo.CallbackService/Dockerfile
    ports:
      - "5108:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy
        
  festivo.loggingservice:
    image: festivo.loggingservice
    build:
      context: .
      dockerfile: Festivo.LoggingService/Dockerfile
    ports:
      - "5109:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      festivo.rabbitmq:
        condition: service_healthy

  festivo.rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    healthcheck:
      test: "rabbitmq-diagnostics -q ping"
      interval: 5s
      timeout: 30s
      retries: 5  