::deep.layout {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
            "icon head"
            "nav messagebar"
            "nav main";
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
}

::deep.layout > .main-icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-layer-4);
}

::deep.layout > header {
    grid-area: head;
}

::deep.layout > .fluent-appbar {
    grid-area: nav;
    overflow-y: auto;
    background: var(--neutral-layer-4);
}

::deep.layout > .layout-body-container {
    grid-area: main;
    overflow-x: auto; /* allow horizontal scrolling */
    overflow: auto;
    border-left: 1px solid var(--neutral-stroke-rest);
    display: flex;
    flex: 1;
}

::deep.layout .layout-sidebar-spacer {
    flex: 0 0 auto;
    width: 480px;
}

::deep.layout > .messagebar-container {
    grid-area: messagebar;
    border-top: 1px solid var(--neutral-stroke-rest);
    border-left: 1px solid var(--neutral-stroke-rest);
    display: flex;
}

::deep .header-right {
    margin-left: auto;
}

::deep.layout > header {
    background-color: var(--neutral-layer-4);
    margin-bottom: 0;
}

::deep.layout > header > .header-gutters > fluent-anchor {
    font-size: var(--type-ramp-plus-2-font-size);
}

::deep .main-icon fluent-anchor.logo::part(control) {
    padding: 0;
    border: none;
}

::deep .main-icon fluent-anchor.logo,
::deep .main-icon fluent-anchor.logo::part(control),
::deep .main-icon fluent-anchor.logo::part(content) {
    height: 24px;
    width: 24px;
}

::deep.layout > header > .header-gutters {
    margin: 0;
}


::deep .desktop-nav-menu > .fluent-appbar-item > .fluentui-counterbadge-container > a > .stack-vertical {
    padding-left: 0;
    padding-right: 0;
}

::deep.layout > header > .header-gutters > fluent-button[appearance=stealth]:not(:hover)::part(control),
::deep.layout > header > .header-gutters > fluent-anchor[appearance=stealth]:not(:hover)::part(control),
::deep.layout > header > .header-gutters > fluent-anchor[appearance=stealth].logo::part(control),
::deep.layout > .main-icon fluent-anchor[appearance=stealth].logo::part(control) {
    background-color: var(--neutral-layer-4);
}

::deep .header-gutters .header-button {
    height: 100%;
    display: block;
}

::deep .header-gutters .header-button::part(control) {
    width: 50px;
    height: 100%;
    border-radius: 0;
    background-color: var(--neutral-fill-secondary-rest);
}

::deep.layout > header > .header-gutters > .header-button-selected:not(:hover)::part(control) {
    background-color: var(--chat-background-color) !important;
}

::deep.body-content {
    padding: 1rem;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

::deep.content-layout {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: grid;

    grid-template-areas:
            "page-header"
            "main"
            "footer";

    grid-template-rows: auto 1fr auto;
}

::deep.content-header {
    grid-area: page-header;
    word-break: break-all;
}

::deep .title-toolbar-inline {
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

::deep .content-main {
    grid-area: main;
    overflow: auto;
    width: calc(100% - 20px);
}

::deep .title-toolbar-inline > h1 {
    margin-left: 0;
}
